.hidden {
  display: none;
}

.btn {
  cursor: pointer;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

.js-clock {
  justify-content: center;
  align-self: center;
}

.js-clock h1 {
  font-size: 70px;
}

.js-greetings {
  font-size: 30px;
}
