body{
  font-family: Arial;
  padding:10px;
}

.header{
  display:flex;
}

.leftBox{
  width: 40%;
  border: solid 1px;
  border-radius: 20px;
}

.rightBox{
  width:60%;
  border: solid 1px;
  border-radius: 20px;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

.js-clock{
  padding:5px;
  text-align: center;
}

.js-clock h1 {
  font-size: 50px;
}

.js-greetings {
  font-size: 40px;
}

.task{
  border:1.5px solid #000000;
  border-radius:10px;
}

.js-pendingList{
  margin:2px;
}

.js-finishedList{
  margin:2px;
}

button{
  margin: 5px;
  padding:2px 20px;
  border-radius: 10px;
}

.js-weather{
  position: absolute;
  bottom:0;
  right:0;
}

.hidden {
  display: none;
}

.margin-padding{
  margin:0px;
  padding:15px 15px;
}


.text-center{
  text-align: center;
}